<ion-header>
  <ion-navbar color="warning">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LISTADO EMPLEADOS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <!--  <ion-list>

    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->

  <ion-list>
      <ion-item-sliding *ngFor="let u of usuarios">
        <ion-item>
          <h2>{{u.empleadoId.nombres}} {{u.empleadoId.apellidos}}</h2>
          <h4>User: {{u.usuario_nombre}} - {{u.rolId.rol}}</h4>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="brush"></ion-icon>
            EDITAR
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

</ion-content>
